{% extends "misc/base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}
    <iframe width="560" height="315"
            src="https://www.youtube.com/embed/sSiOlvySbQQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
{% endblock %}
{% block content %}
    <div class="container">
        {% load cache %}
        {% cache 20 index_page page.number %}
            {% include "posts/menu.html" with index=True %}

            {% for post in page %}
                {% include "includes/cardpost.html" with post=post %}
            {% endfor %}

        {% endcache %}
        {% include "misc/paginator.html" with items=page paginator=paginator %}

    </div>
{% endblock %}