{% extends "misc/base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Алексей Крупин <br> г.Нижний Новгород
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Всем привет! Меня зовут Алексей, я из Нижнего Новгорода. <br>
              Я студент ЯП , решил сменить профессию воспитателя дс на программиста >_< <br>
              В данной профессии меня манит возможность творить,
              придумывать, разрабатывать и делать мир луче) <br>
              Проект не получился бы без крепкого черного чая и помощи
              моих одногрупников <3 <br>
              Ссылки на мои акаунты в соц сетях:
              <p><a href="https://github.com/AlexKrup7">GitHub</a><p>
              <p><a href="https://vk.com/id372303082">VK</a><p>

          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}